<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .total{
                margin-left: 550px;
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Xmarket Invoice</p>
            </div>
        <div>
        <div class='details'>
            Customer: {{customer_name}} <br/>
            <table class="table table-bordered">
                <thead>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <!-- <th scope="col">total</th> -->
                </thead>
                <tbody>
                    {% for product in products.all%}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                    </tr>    
                    {%endfor%}
                    <tr>
                        <td>Total</td> <td>{{total_price}}</td>
                    </tr>
                </tbody>
            </table>  
            Shipping Address: {{shipping_address}}<br>
            Created at: {{date}}
            <hr class='hrItem' />
        </div>

    </div>
    </body>
</html>