{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="row">{{customer.id}}</th>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td><a href="{{customer.id}}">View</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}