{% extends 'base.html' %}

{% block title %}Invoices{% endblock %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for msg in messages %}       
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a class="btn btn-success" href="create-invoice/">Create Invoice</a>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Product Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <th scope="row">{{invoice.id}}</th>
                    <td>{{invoice.customer_id.name}}</td>
                    <td>
                    {% for product in invoice.products.all%}
                    {{product.name}} | 
                    {% endfor %}
                    </td>
                    <td><a href="/pdf/{{invoice.id}}">View PDF</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
{% endblock %}