{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Available Quantity</th>
        <!-- <th scope="col">Action</th> -->
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available_quantity}}</td>
                <!-- <td><a href="#">View</a></td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}