{% extends 'base.html' %}

{% block title %}Customer View{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="customer_info">
            <h3>View Customer Info</h3>
            <label class="ml-3">Customer Name:</label>
            <span>{{customer.name}}</span>
            <br>
            <label class="ml-3">Customer Phone:</label>
            <span>{{customer.phone}}</span>
            <br>
            <label class="ml-3">Customer Email:</label>
            <span>{{customer.email}}</span>
            <br>
            <label class="ml-3">Customer Address:</label>
            <span>{{customer.address}}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="customer_invoices">
            <h3>Customer Invoices</h3>
            {% for invoice in invoices %}
                <p>Invoice #{{invoice.id}}</p>
                {% for product in invoice.products.all%}
                    <label class="ml-3">Product:</label>
                    <span>{{product.name}}</span>,
                    <label class="ml-3">Price</label> 
                    <span>{{product.price}}</span> <br>

                {% endfor %}
                
                <label class="ml-3">Created At:</label> 
                <span>{{invoice.created_on}}</span>
                <hr>
            {% endfor %}
           
        </div>
    </div>
</div>


{% endblock %}