{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<div id="content-container" class="container p-none">
  <div class="lgn-container col-lg-8">
      <form id="login-form" method="post" 
            action="{% url 'login' %}">
          {% csrf_token %}
          <table class="table">
              <tr>
                  <td><label for="id_username">Username</label></td>
                  <td><input id="id_username" name="username" 
                             type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td><label for="id_password">Password</label></td>
                  <td><input id="id_password" name="password" 
                             type="password" class="form-control"></td>
              </tr>
          </table>
          {% if form.errors %}
              <p class=" label label-danger">
                  Your username and password didn't match. 
                  Please try again.
              </p>
          {% endif %}

          <input type="submit" value="Login" 
                 class="btn btn-primary pull-right" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
  </div>
</div>
{% endblock %}